
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

       /* FLEX SECTION */

#flex_container{
    display: flex;
    justify-content: center; 
    flex-direction: column;   
    width: auto;
}

.nav_flexbox{
    display: flex;
}

.header_flexbox{
    display: flex;
    flex-direction: column;
}

.header_menu_flexbox{
    display: flex;
    justify-content: center;
    width: auto;  
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.main_flexbox{
    display: flex;
    align-self: center;
    flex-direction: column;
    
}

.section_flexbox{
    display: flex;
}




           /* DEBUG REGION */

.debug_header{
    background-color: blue;
    border: 1px solid black;
    box-shadow: 0 0 10px;
}

.debug_header_menu{
    background-color: #163cfa;
    
}

.debug_border{
    border: 1px solid black;
    display: inline-block;
    float: left;
  
}

.debug_headsection{
    width: 600px;
    height: 300px;
    background-color: aliceblue;   
}

       /* UTILITIES */

.nav_link{
    padding: 0.3rem 4rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
}


.app_header{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.header_menu{
    padding: 1rem;
  
}

.logo_login{
    font-size: 1rem ;
    line-height: 29px;
}



.sx_text{
    padding-right: 5rem;
    padding-left: 0.3rem;
    font-weight: 800;
    
}

.dx_text{
    padding-left: 5rem;
    padding-right: 0.3rem;
    font-weight: 800;
}

#header_section{
    align-self: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}

.grey_bg{
    width: auto;
    background-color: lightgrey;
}

.small_square{
    width: 100%;
    background-color: blueviolet;
    float: left;
   
    
}

.big_square{
    width: 580px;
    height: 350px;
    background-color: cornflowerblue;
    float: left;
    flex-shrink: 1;
}

.main_padding{
   padding: 5rem 34rem;
}

.main_section_container{
    width: auto;
    background-color: black;  
}

.first_section{
    width: auto;
   
}

.bg_white{
    background-color: lightgray;
}

#ending_square{
    width: 1100px;
    height: 600px;
    background-color: mediumseagreen;
}