
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

       /* FLEX SECTION */

#flex_container{
    display: flex;
    justify-content:center ;    
   
}

.nav_flexbox{
    display: flex;
}

.header_flexbox{
    display: flex;
    flex-direction: column;
}

.header_menu_flexbox{
    display: flex;
    justify-content: center;
    width: auto;  
    
}

.header_clearfix::after{
    content: "";
    display: table;
    clear: both;
}



           /* DEBUG REGION */

.debug_header{
    background-color: blue;
    height: 800px;
    border: 1px solid black;
    box-shadow: 0 0 10px;
}

.debug_header_menu{
    background-color: #163cfa;
    
}

.debug_border{
    border: 1px solid black;
    display: inline-block;
    float: left;
  
}

.debug_headsection{
    width: 800px;
    height: 500px;
    background-color: aliceblue;   
}

       /* UTILITIES */

.nav_link{
    padding: 0.4rem 4rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.app_header{
    width: 1600px;
    font-family: 'Roboto', sans-serif;
}

.header_menu{
    padding: 1rem;
}

.logo_login{
    font-size: 1rem ;
    line-height: 29px;
}



.sx_text{
    padding-right: 5rem;
    padding-left: 0.3rem;
    font-weight: 800;
    
}

.dx_text{
    padding-left: 5rem;
    padding-right: 0.3rem;
    font-weight: 800;
}

#header_section{
    align-self: center;
    margin-top: 5rem;
}